<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Car Rental MOVIS
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="onTouched()">Touch me!</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">

        <ion-card *ngFor="let card of cards">
            <img src="../../../assets/shapes.svg" alt="Shapes SVG">
            <ion-card-header>
                <ion-card-title>{{card.title}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>{{card.message}}</ion-card-content>
            <ion-buttons class="ion-justify-content-end">
                <ion-button color="primary" fill="outline" (click)="openAlert(card)">
                    <ion-icon name="hand" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-card>


    </div>
</ion-content>
